body {
  background-color: rgb(51, 12, 12);
  margin: 0;
}
header {
  background-image: url(https://images.pexels.com/photos/3042058/pexels-photo-3042058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  max-width: 100%;
  height: 50em;
}
header span {
  color: #fff;
  font-size: 120px;
}

nav {
  background-color: black;
  border: white;
  height: 4em;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

nav li {
  font-size: 3em;

  list-style: none;
}

nav li a {
  text-decoration: none;
  color: white;
}

div {
  color: black;
}

body {
  background-color: black;
}
/* textarea {
  word-spacing: 4px;
  letter-spacing: 0.7px;
  background-color: black;
  color: white;
  border: none;
  margin-left: 6.5rem;
  font-size: large;
} */

div[contenteditable='true'] {
  width: 1000px;
  height: 2000px;
  border: 1px solid #ccc;
  padding: 5px;
}

strong {
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  width: 17%;
  height: 25px;
  margin-left: 0;
}

select {
  width: 180px;
  height: 30px;
  padding: 0px;
}

label {
  color: white;
}

table th {
  font-size: 1.3em;
}

/* CLASSES */

#top10 {
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 2.7em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* BUTTONS */

.scanner {
  margin-left: 20em;
}

.Today-Report {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-top: 5%;
  overflow: auto;
  padding-bottom: 10%;
}

.avanceraReq {
  display: none;
}

.buttonRequest {
  display: none;
}

.getButtonVisible {
  display: ruby;
}

.putButton {
  display: none;
}

.idRemove {
  display: none;
}

.deleteMe {
  display: none;
}
